@model IEnumerable<GestionComercial.Data.Entidades.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadesEnExistencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadesEnPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelNuevoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadesEnExistencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadesEnPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelNuevoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Codigo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
